.row
  .col-lg-8.col-lg-offset-2
    .panel.panel-default.panel-fill
      .panel-heading
        %h3.panel-title
          Editar Monitorista
      .panel-body
        = render 'form', name_button: 'Actualizar Monitorista'
