/ Right Sidebar
.side-bar.right-bar.nicescroll
  %h4.text-center Chat
  .contact-list.nicescroll
    %ul.list-group.contacts-list
      %li.list-group-item
        %a{:href => "#"}
          .avatar
            %img{:alt => "", :src => "images/users/avatar-1.jpg"}/
          %span.name Chadengle
          %i.fa.fa-circle.online
        %span.clearfix
      %li.list-group-item
        %a{:href => "#"}
          .avatar
            %img{:alt => "", :src => "images/users/avatar-10.jpg"}/
          %span.name Sortino
          %i.fa.fa-circle.offline
        %span.clearfix
/ /Right-bar