/ Begin page
#wrapper
  / Top Bar Start
  .topbar
    / LOGO
    .topbar-left
      .text-center
        %a.logo{:href => "index.html"}
          %i.md.md-terrain
          %span Moltran
    / Button mobile view to collapse sidebar menu
    .navbar.navbar-default{:role => "navigation"}
      .container
        %div
          .pull-left
            %button.button-menu-mobile.open-left
              %i.fa.fa-bars
            %span.clearfix
          %form.navbar-form.pull-left{:role => "search"}
            .form-group
              %input.form-control.search-bar{:placeholder => "Type here for search...", :type => "text"}/
            %button.btn.btn-search{:type => "submit"}
              %i.fa.fa-search
          %ul.nav.navbar-nav.navbar-right.pull-right
            %li.dropdown.hidden-xs
              %a.dropdown-toggle.waves-effect.waves-light{"aria-expanded" => "true", "data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                %i.md.md-notifications
                %span.badge.badge-xs.badge-danger 3
              %ul.dropdown-menu.dropdown-menu-lg
                %li.text-center.notifi-title Notification
                %li.list-group
                  / list item
                  %a.list-group-item{:href => "javascript:void(0);"}
                    .media
                      .pull-left
                        %em.fa.fa-user-plus.fa-2x.text-info
                      .media-body.clearfix
                        .media-heading New user registered
                        %p.m-0
                          %small You have 10 unread messages
                  / list item
                  %a.list-group-item{:href => "javascript:void(0);"}
                    .media
                      .pull-left
                        %em.fa.fa-diamond.fa-2x.text-primary
                      .media-body.clearfix
                        .media-heading New settings
                        %p.m-0
                          %small There are new settings available
                  / list item
                  %a.list-group-item{:href => "javascript:void(0);"}
                    .media
                      .pull-left
                        %em.fa.fa-bell-o.fa-2x.text-danger
                      .media-body.clearfix
                        .media-heading Updates
                        %p.m-0
                          %small
                            There are
                            %span.text-primary 2
                            new updates available
                  / last list item
                  %a.list-group-item{:href => "javascript:void(0);"}
                    %small See all notifications
            %li.hidden-xs
              %a#btn-fullscreen.waves-effect.waves-light{:href => "#"}
                %i.md.md-crop-free
            %li.hidden-xs
              %a.right-bar-toggle.waves-effect.waves-light{:href => "#"}
                %i.md.md-chat
            %li.dropdown
              %a.dropdown-toggle.profile{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => ""}
                %img.img-circle{:alt => "user-img", :src => "images/avatar-1.jpg"}/
              %ul.dropdown-menu
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.md.md-face-unlock
                    Profile
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.md.md-settings
                    Settings
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.md.md-lock
                    Lock screen
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.md.md-settings-power
                    Logout
        / /.nav-collapse
  / Top Bar End
  / ========== Left Sidebar Start ==========
  .left.side-menu
    .sidebar-inner.slimscrollleft
      .user-details
        .pull-left
          %img.thumb-md.img-circle{:alt => "", :src => "images/users/avatar-1.jpg"}/
        .user-info
          .dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
              John Doe
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "javascript:void(0)"}
                  %i.md.md-face-unlock
                  Profile
                  .ripple-wrapper
              %li
                %a{:href => "javascript:void(0)"}
                  %i.md.md-settings
                  Settings
              %li
                %a{:href => "javascript:void(0)"}
                  %i.md.md-lock
                  Lock screen
              %li
                %a{:href => "javascript:void(0)"}
                  %i.md.md-settings-power
                  Logout
          %p.text-muted.m-0 Administrator
      / - Divider
      #sidebar-menu
        %ul
          %li
            %a.waves-effect.active{:href => "index.html"}
              %i.md.md-home
              %span Dashboard
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-mail
              %span Mail
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "inbox.html"} Inbox
              %li
                %a{:href => "email-compose.html"} Compose Mail
              %li
                %a{:href => "email-read.html"} View Mail
          %li
            %a.waves-effect{:href => "calendar.html"}
              %i.md.md-event
              %span Calendar
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-palette
              %span Elements
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "typography.html"} Typography
              %li
                %a{:href => "buttons.html"} Buttons
              %li
                %a{:href => "panels.html"} Panels
              %li
                %a{:href => "checkbox-radio.html"} Checkboxs-Radios
              %li
                %a{:href => "tabs-accordions.html"} Tabs &amp; Accordions
              %li
                %a{:href => "modals.html"} Modals
              %li
                %a{:href => "bootstrap-ui.html"} BS Elements
              %li
                %a{:href => "progressbars.html"} Progress Bars
              %li
                %a{:href => "notification.html"} Notification
              %li
                %a{:href => "sweet-alert.html"} Sweet-Alert
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-invert-colors-on
              %span Components
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "grid.html"} Grid
              %li
                %a{:href => "portlets.html"} Portlets
              %li
                %a{:href => "widgets.html"} Widgets
              %li
                %a{:href => "nestable-list.html"} Nesteble
              %li
                %a{:href => "ui-sliders.html"} Sliders
              %li
                %a{:href => "gallery.html"} Gallery
              %li
                %a{:href => "pricing.html"} Pricing Table
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-redeem
              %span Icons
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "material-icon.html"} Material Design
              %li
                %a{:href => "ion-icons.html"} Ion Icons
              %li
                %a{:href => "font-awesome.html"} Font awesome
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-now-widgets
              %span Forms
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "form-elements.html"} General Elements
              %li
                %a{:href => "form-validation.html"} Form Validation
              %li
                %a{:href => "form-advanced.html"} Advanced Form
              %li
                %a{:href => "form-wizard.html"} Form Wizard
              %li
                %a{:href => "form-editor.html"} WYSIWYG Editor
              %li
                %a{:href => "code-editor.html"} Code Editors
              %li
                %a{:href => "form-uploads.html"} Multiple File Upload
              %li
                %a{:href => "form-xeditable.html"} X-editable
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-view-list
              %span Data Tables
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "tables.html"} Basic Tables
              %li
                %a{:href => "table-datatable.html"} Data Table
              %li
                %a{:href => "tables-editable.html"} Editable Table
              %li
                %a{:href => "responsive-table.html"} Responsive Table
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-poll
              %span Charts
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "morris-chart.html"} Morris Chart
              %li
                %a{:href => "chartjs.html"} Chartjs
              %li
                %a{:href => "flot-chart.html"} Flot Chart
              %li
                %a{:href => "peity-chart.html"} Peity Charts
              %li
                %a{:href => "charts-sparkline.html"} Sparkline Charts
              %li
                %a{:href => "chart-radial.html"} Radial charts
              %li
                %a{:href => "other-chart.html"} Other Chart
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-place
              %span Maps
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "gmap.html"} Google Map
              %li
                %a{:href => "vector-map.html"} Vector Map
          %li.has_sub
            %a.waves-effect{:href => "#"}
              %i.md.md-pages
              %span Pages
              %span.pull-right
                %i.md.md-add
            %ul.list-unstyled
              %li
                %a{:href => "profile.html"} Profile
              %li
                %a{:href => "timeline.html"} Timeline
              %li
                %a{:href => "invoice.html"} Invoice
              %li
                %a{:href => "email-template.html"} Email template
              %li
                %a{:href => "contact.html"} Contact-list
              %li
                %a{:href => "login.html"} Login
              %li
                %a{:href => "register.html"} Register
              %li
                %a{:href => "recoverpw.html"} Recover Password
              %li
                %a{:href => "lock-screen.html"} Lock Screen
              %li
                %a{:href => "blank.html"} Blank Page
              %li
                %a{:href => "maintenance.html"} Maintenance
              %li
                %a{:href => "coming-soon.html"} Coming-soon
              %li
                %a{:href => "404.html"} 404 Error
              %li
                %a{:href => "404_alt.html"} 404 alt
              %li
                %a{:href => "500.html"} 500 Error
          %li.has_sub
            %a.waves-effect{:href => "javascript:void(0);"}
              %i.md.md-share
              %span Multi Level
              %span.pull-right
                %i.md.md-add
            %ul
              %li.has_sub
                %a.waves-effect{:href => "javascript:void(0);"}
                  %span Menu Level 1.1
                  %span.pull-right
                    %i.md.md-add
                %ul{:style => ""}
                  %li
                    %a{:href => "javascript:void(0);"}
                      %span Menu Level 2.1
                  %li
                    %a{:href => "javascript:void(0);"}
                      %span Menu Level 2.2
                  %li
                    %a{:href => "javascript:void(0);"}
                      %span Menu Level 2.3
              %li
                %a{:href => "javascript:void(0);"}
                  %span Menu Level 1.2
        .clearfix
      .clearfix
  / Left Sidebar End
  / ==============================================================
  / Start right Content here
  / ==============================================================
  .content-page
    / Start content
    .content
      .container
        / Page-Title
        .row
          .col-sm-12
            %h4.pull-left.page-title Welcome !
            %ol.breadcrumb.pull-right
              %li
                %a{:href => "#"} Moltran
              %li.active Dashboard
        / Start Widget
        .row
          .col-md-6.col-sm-6.col-lg-3
            .mini-stat.clearfix.bx-shadow
              %span.mini-stat-icon.bg-info
                %i.ion-social-usd
              .mini-stat-info.text-right.text-muted
                %span.counter 15852
                Total Sales
              .tiles-progress
                .m-t-20
                  %h5.text-uppercase
                    Sales
                    %span.pull-right 60%
                  .progress.progress-sm.m-0
                    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
                      %span.sr-only 60% Complete
          .col-md-6.col-sm-6.col-lg-3
            .mini-stat.clearfix.bx-shadow
              %span.mini-stat-icon.bg-purple
                %i.ion-ios7-cart
              .mini-stat-info.text-right.text-muted
                %span.counter 956
                New Orders
              .tiles-progress
                .m-t-20
                  %h5.text-uppercase
                    Orders
                    %span.pull-right 90%
                  .progress.progress-sm.m-0
                    .progress-bar.progress-bar-purple{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 90%;"}
                      %span.sr-only 90% Complete
          .col-md-6.col-sm-6.col-lg-3
            .mini-stat.clearfix.bx-shadow
              %span.mini-stat-icon.bg-success
                %i.ion-eye
              .mini-stat-info.text-right.text-muted
                %span.counter 20544
                Unique Visitors
              .tiles-progress
                .m-t-20
                  %h5.text-uppercase
                    Visitors
                    %span.pull-right 60%
                  .progress.progress-sm.m-0
                    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
                      %span.sr-only 60% Complete
          .col-md-6.col-sm-6.col-lg-3
            .mini-stat.clearfix.bx-shadow
              %span.mini-stat-icon.bg-primary
                %i.ion-android-contacts
              .mini-stat-info.text-right.text-muted
                %span.counter 5210
                New Users
              .tiles-progress
                .m-t-20
                  %h5.text-uppercase
                    Users
                    %span.pull-right 57%
                  .progress.progress-sm.m-0
                    .progress-bar.progress-bar-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "57", :role => "progressbar", :style => "width: 57%;"}
                      %span.sr-only 57% Complete
        / End row
        .row
          .col-lg-8
            .portlet
              / /portlet heading
              .portlet-heading
                %h3.portlet-title.text-dark.text-uppercase
                  Website Stats
                .portlet-widgets
                  %a{"data-toggle" => "reload", :href => "javascript:;"}
                    %i.ion-refresh
                  %span.divider
                  %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#portlet1"}
                    %i.ion-minus-round
                  %span.divider
                  %a{"data-toggle" => "remove", :href => "#"}
                    %i.ion-close-round
                .clearfix
              #portlet1.panel-collapse.collapse.in
                .portlet-body
                  .row
                    .col-md-12
                      #website-stats{:style => "position: relative;height: 320px;"}
                      .row.text-center.m-t-30
                        .col-sm-4
                          %h4.counter 86,956
                          %small.text-muted Weekly Report
                        .col-sm-4
                          %h4.counter 86,69
                          %small.text-muted Monthly Report
                        .col-sm-4
                          %h4.counter 948,16
                          %small.text-muted Yearly Report
            / /Portlet
          / end col
          .col-lg-4
            .portlet
              / /portlet heading
              .portlet-heading
                %h3.portlet-title.text-dark.text-uppercase
                  Website Stats
                .portlet-widgets
                  %a{"data-toggle" => "reload", :href => "javascript:;"}
                    %i.ion-refresh
                  %span.divider
                  %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#portlet2"}
                    %i.ion-minus-round
                  %span.divider
                  %a{"data-toggle" => "remove", :href => "#"}
                    %i.ion-close-round
                .clearfix
              #portlet2.panel-collapse.collapse.in
                .portlet-body
                  .row
                    .col-md-12
                      #pie-chart
                        #pie-chart-container.flot-chart{:style => "height: 320px;"}
                      .row.text-center.m-t-30
                        .col-sm-6
                          %h4.counter 86,956
                          %small.text-muted Weekly Report
                        .col-sm-6
                          %h4.counter 86,69
                          %small.text-muted Monthly Report
            / /Portlet
          / end col
        / End row
        .row
          / INBOX
          .col-lg-4
            .panel.panel-default
              .panel-heading
                %h4.panel-title Inbox
              .panel-body
                .inbox-widget.nicescroll.mx-box
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-1.jpg"}/
                      %p.inbox-item-author Chadengle
                      %p.inbox-item-text Hey! there I'm available...
                      %p.inbox-item-date 13:40 PM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-2.jpg"}/
                      %p.inbox-item-author Tomaslau
                      %p.inbox-item-text I've finished it! See you so...
                      %p.inbox-item-date 13:34 PM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-3.jpg"}/
                      %p.inbox-item-author Stillnotdavid
                      %p.inbox-item-text This theme is awesome!
                      %p.inbox-item-date 13:17 PM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-4.jpg"}/
                      %p.inbox-item-author Kurafire
                      %p.inbox-item-text Nice to meet you
                      %p.inbox-item-date 12:20 PM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-5.jpg"}/
                      %p.inbox-item-author Shahedk
                      %p.inbox-item-text Hey! there I'm available...
                      %p.inbox-item-date 10:15 AM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-6.jpg"}/
                      %p.inbox-item-author Adhamdannaway
                      %p.inbox-item-text This theme is awesome!
                      %p.inbox-item-date 9:56 AM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-8.jpg"}/
                      %p.inbox-item-author Arashasghari
                      %p.inbox-item-text Hey! there I'm available...
                      %p.inbox-item-date 10:15 AM
                  %a{:href => "#"}
                    .inbox-item
                      .inbox-item-img
                        %img.img-circle{:alt => "", :src => "images/users/avatar-9.jpg"}/
                      %p.inbox-item-author Joshaustin
                      %p.inbox-item-text I've finished it! See you so...
                      %p.inbox-item-date 9:56 AM
          / end col
          / CHAT
          .col-lg-4
            .panel.panel-default
              .panel-heading
                %h3.panel-title Chat
              .panel-body
                .chat-conversation
                  %ul.conversation-list.nicescroll
                    %li.clearfix
                      .chat-avatar
                        %img{:alt => "male", :src => "images/avatar-1.jpg"}/
                        %i 10:00
                      .conversation-text
                        .ctext-wrap
                          %i John Deo
                          %p
                            Hello!
                    %li.clearfix.odd
                      .chat-avatar
                        %img{:alt => "Female", :src => "images/users/avatar-5.jpg"}/
                        %i 10:01
                      .conversation-text
                        .ctext-wrap
                          %i Smith
                          %p
                            Hi, How are you? What about our next meeting?
                    %li.clearfix
                      .chat-avatar
                        %img{:alt => "male", :src => "images/avatar-1.jpg"}/
                        %i 10:01
                      .conversation-text
                        .ctext-wrap
                          %i John Deo
                          %p
                            Yeah everything is fine
                    %li.clearfix.odd
                      .chat-avatar
                        %img{:alt => "male", :src => "images/users/avatar-5.jpg"}/
                        %i 10:02
                      .conversation-text
                        .ctext-wrap
                          %i Smith
                          %p
                            Wow that's great
                  .row
                    .col-sm-9.chat-inputbar
                      %input.form-control.chat-input{:placeholder => "Enter your text", :type => "text"}/
                    .col-sm-3.chat-send
                      %button.btn.btn-info.btn-block.waves-effect.waves-light{:type => "submit"} Send
          / end col
          / TODO
          .col-lg-4
            .panel.panel-default
              .panel-heading
                %h3.panel-title Todo
              .panel-body.todoapp
                .row
                  .col-sm-6
                    %h4#todo-message
                      %span#todo-remaining
                      of
                      %span#todo-total
                      remaining
                  .col-sm-6
                    %a#btn-archive.pull-right.btn.btn-primary.btn-sm.waves-effect.waves-light{:href => ""} Archive
                %ul#todo-list.list-group.no-margn.nicescroll.todo-list{:style => "max-height: 288px;"}
                %form#todo-form.m-t-20{:name => "todo-form", :role => "form"}
                  .row
                    .col-sm-9.todo-inputbar
                      %input#todo-input-text.form-control{:name => "todo-input-text", :placeholder => "Add new todo", :type => "text"}/
                    .col-sm-3.todo-send
                      %button#todo-btn-submit.btn-primary.btn-block.btn.waves-effect.waves-light{:type => "button"} Add
          / end col
        / end row
      / container
    / content
    %footer.footer.text-right
      2015 © Moltran.
  / ==============================================================
  / End Right content here
  / ==============================================================
  / Right Sidebar
  .side-bar.right-bar.nicescroll
    %h4.text-center Chat
    .contact-list.nicescroll
      %ul.list-group.contacts-list
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-1.jpg"}/
            %span.name Chadengle
            %i.fa.fa-circle.online
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-2.jpg"}/
            %span.name Tomaslau
            %i.fa.fa-circle.online
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-3.jpg"}/
            %span.name Stillnotdavid
            %i.fa.fa-circle.online
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-4.jpg"}/
            %span.name Kurafire
            %i.fa.fa-circle.online
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-5.jpg"}/
            %span.name Shahedk
            %i.fa.fa-circle.away
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-6.jpg"}/
            %span.name Adhamdannaway
            %i.fa.fa-circle.away
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-7.jpg"}/
            %span.name Ok
            %i.fa.fa-circle.away
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-8.jpg"}/
            %span.name Arashasghari
            %i.fa.fa-circle.offline
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-9.jpg"}/
            %span.name Joshaustin
            %i.fa.fa-circle.offline
          %span.clearfix
        %li.list-group-item
          %a{:href => "#"}
            .avatar
              %img{:alt => "", :src => "images/users/avatar-10.jpg"}/
            %span.name Sortino
            %i.fa.fa-circle.offline
          %span.clearfix
  / /Right-bar
/ END wrapper
